* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* style for nav bar */
.topheader {
  background-color: black;
}
.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
}
.spotifylogo {
  width: 150px;
  margin: 10px 30px;
}

.navleft ul li {
  list-style-type: none;
  font-size: 15px;
  margin: 20px 25px;
  float: left;
  color: white;
}
.topheader a {
  text-decoration: none;
  color: white;
  font-family: "poppins";
}
a:hover {
  color: rgb(30, 215, 96);
}

/* style for footer */
footer {
  background-color: black;

  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 30px;
}
footer a {
  color: white;
  text-decoration: none;
}
.footdiv {
  display: flex;
  width: 100%;
  padding: 10px;
}
footer ul li {
  list-style-type: none;
  padding-bottom: 25px;
  line-height: 1.4;
}
footer .box1,
footer .box2,
footer .box3 {
  margin: 50px;
}
.box0 {
  margin: 30px;
}
footer .box4 {
  margin-top: 50px;
  margin-left: 200px;
  display: flex;
}
.box4 svg {
  width: 50px;
  margin-top: 0;
  margin-left: 10px;
  background-color: #222327;
  border-radius: 50%;
  padding: 12px;
  cursor: pointer;
}

h4 {
  margin-bottom: 20px;
  color: #919496;
  font-size: 12px;
}
.bottombox {
  display: flex;
}
.bottombox ul li a {
  color: #919496;
  font-size: 12px;
}
.bottombox ul li {
  margin: 20px;
  float: left;
}
.container1 a:hover {
  color: rgb(30, 215, 96);
}
.container2 a {
  color: #919496;
  font-size: 12px;
}
.nigeria {
  text-align: right;
}
.container2 p {
  color: #919496;
  font-size: 12px;
  margin: 10px;
}
.container2 {
  margin-left: 550px;
}
a:hover {
  color: rgb(30, 215, 96);
}
svg:hover path {
  fill: rgb(30, 215, 96);
}

/* style for main */

.creator {
  display: flex;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 80px;
  width: 100%;
  font-family: "poppins";
  font-size: 14px;
  margin-bottom: 100px;
}
.creator .containerA {
  width: 60%;
}
.creator .containerB {
  width: 40%;
  margin-left: 50px;
  margin-top: 80px;
}
.parent1 {
  display: flex;
}
.parent2 {
  display: flex;
}
.parent3 {
  display: flex;
}
.parent4 {
  display: flex;
}
.parent5 {
  display: flex;
}
.parent6 {
  display: flex;
}
.parent7 {
  display: flex;
}
.sub2 {
  width: 100%;
  margin-left: 30px;
}
.sub1 {
  width: 100%;
}
.creator a {
  color: rgb(30, 215, 96);
}
.aboutus h1,
.world h1 {
  margin-bottom: 20px;
  margin-top: 10px;
}
.hq .heading {
  padding-bottom: 20px;
}
.service h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.creator li {
  list-style-position: inside;
}
.service li {
  margin-top: 4px;
}

.creator h3 {
  margin-bottom: 7px;
}
.containerB p {
  line-height: 1.6;
}
.aboutus p {
  margin-top: 15px;
}
.pick p {
  margin-top: 12px;
}
.aboutus h1 {
  font-size: 40px;
  font-weight: 900;
}
.service h1,
.pick h1,
.hq h2,
.world h1 {
  font-size: 30px;
  font-weight: 900;
}
/* premium page code */
.content header {
  background-color: rgb(29, 118, 222);
  padding-top: 4rem;
  width: 100%;
  padding-left: 3rem;
  padding-bottom: 3rem;
}
.content h1 {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 30px;
}
.content header .para1 {
  color: white;
  font-size: 25px;
}
.buttons {
  display: flex;
  margin: 40px 0;
}
.button1 button {
  padding: 18px 25px;
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 27px;
}
.button2 button {
  padding: 15px 30px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 25px;
  margin-left: 10px;
}
.content .undertext a {
  color: white;
}
.content .undertext {
  color: white;
  font-size: 12px;
}
.whygopremium {
  margin: 100px 0;
}
.whygopremium h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 35px;
}
.premiumimg {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
.premiumimg h3 {
  text-align: center;
  margin-top: 30px;
}
.premiumimg p {
  text-align: center;
  margin-top: 10px;
}

.pickpremium {
  background-color: rgb(239, 239, 239);
  padding: 100px 80px;
}

.pickpremium h1 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 10px;
}
.pickpremium .para {
  text-align: center;
  font-size: 15x;
  margin-bottom: 30px;
}
.premiumboxes {
  display: flex;
  justify-content: space-around;
  height: 90vh;
}

.premiumboxes .box1,
.premiumboxes .box2,
.premiumboxes .box3,
.premiumboxes .box4 {
  border: 1px solid white;
  background-color: white;
  margin-left: 10px;
  height: 90vh;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 4px grey;
}

.premiumboxes li {
  margin-top: 7px;
  font-size: 17px;
  list-style-image: url(IMAGE/premium-bottom-arrow.svg);
}

.premiumboxes ul {
  margin-top: 15px;
  margin-left: 25px;
}

.pickpremium .box1 .para1,
.box4 .para1 {
  border: 1px solid rgb(45, 119, 208);
  background-color: rgb(45, 119, 208);
  color: white;
  width: 90%;
  padding: 4px;
  border-radius: 5px;
}

.pickpremium .box1 .para2,
.box4 .para2 {
  border: 1px solid rgb(45, 119, 208);
  background-color: white;
  color: rgb(45, 119, 208);
  width: 80%;
  padding: 4px;
  border-radius: 5px;
  margin-top: 8px;
}

.premiumboxes h3 {
  padding-top: 7px;
  font-size: 25px;
}

.premiumboxes .para3 {
  padding-top: 7px;
  font-size: 18px;
}

.premiumboxes .box1 .para3,
.box4 .para3 {
  padding-bottom: 17px;
}

.pickpremium button {
  color: white;
  width: 100%;
  background-color: black;
  border: 1px solid black;
  border-radius: 25px;
  padding: 15px 20px;

}

.pickpremium .box1 button {
  margin-top: 100px;
}

.premiumboxes a,
.premiumboxes .para4 {
  color: rgb(107, 104, 104);
  font-size: 14px;
  margin-top: 20px;
}

.premiumboxes .box2 .para1,
.box3 .para1 {
  color: white;
  border: 2px solid rgb(45, 119, 208);
  background-color: rgb(45, 119, 208);
  width: 60%;
  padding: 0 3px;
  border-radius: 4px;
}

.premiumboxes .box2 .para3,
.box3 .para3 {
  margin-bottom: 59px;
}

.premiumboxes .box2 button {
  margin-top: 100px;
}

.premiumboxes .box3 button {
  margin-top: 48px;
}

.premiumboxes .box4 button {
  margin-top: 50px;
}
.premiumboxes button:hover{
  width: 100%;
}